.bungkus {
  margin: auto 5px;
  border-radius: 20px !important;
  box-shadow: 5px 5px 5px black;
}

.bungkus img {
  width: 250px;
  height: 250px;
  filter: grayscale(100);
}
.bungkus img:hover {
  filter: none;
}
